
/* useState Practice Styles */
.incrementer{
    font-size: x-large;
    display: block;
}
.number{
    font-weight: 900;
    font-size: xx-large;
}
.theme{
    display:block
}

/* useEffect Practice Styles */